@charset "utff-8";

@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'OTWelcomeBA';
    color: #333333;
}

a{
    text-decoration: none;
    display: block;
}


header{
    /* 상단 높이 */
    height: 100px;
    /* 상단 너비 */
    width: 1000px;
}

/* .logo와 .menu를 묶어줌 */
.top{
    /* 상단 로고와 메뉴가 들어가는 곳 높이 */
    height: 100px;
    /* 상단 로고와 메뉴가 들어가는 곳 너비 */
    width: 1000px;
}

/* 로고 영역 스타일 적용 */
.logo{
    float: left;
    /* 로고 영역 높이 */
    height: 100px;
    /* 로고 영역 너비 */
    width: 180px;
}

.logo img{
    float: left;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-left: 25px;
}

.menu{
    float: left;
    height: 100px;
    width: 800px;
    z-index: 1;
}

.navi{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

.navi > li{
    float: left;
}

.navi > li > a{
    height: 40px;
    width: 180px;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #0066ad;
    color: #ffffff;
}

.navi > li > a:hover{
    background-color: #30a3f3;
}

.submenu{
    width: 180px;
    position: absolute;
    display: none;
    z-index: 1;
}

.submenu > li > a{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #ababab;
    color: #ffffff;
}

.submenu > li > a:hover{
    background-color: #30a3f3;
}

.content{
    margin-bottom: 100px
}

h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 3em;
    font-weight: bold;
}

h3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 3em;
    font-weight: bold;
}


footer{
    /* 하단 높이 */
    height: 100px;
    /* 하단 너비 */
    width: 100%;
    background-color: #48487d;
}

.copy{
    float: left;
    /* Copyright 높이 */
    height: 100px;
    /* Copyright 너비 */
    width: 1950px;
    text-align: center;
    font-size: 16px;
    line-height: 100px;
    color: #ffffff;
}

.location{
    border: 1px solid red;
}

